<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/manager.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
 
    <script src="javascripts/popper.js"></script>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    <!--<script src="javascripts/sum.js"></script>-->
    <script src="javascripts/moment.js"></script>
    <script type="text/javascript" src="javascripts/manager.js"></script>
    <script type="text/javascript" src="javascripts/books.js"></script>
    
  </head>
  <body>
    <div class="container-fluid home">
      {{#if weeks}}
        <!---week selection--->
        <div class="row">
          <div class="bg-dark text-white week_cont" {{#unless manager}}style="margin-bottom: 80px;"{{/unless}}>
              <label class="week_label offset-sm-1">Week #</label>
              <form id="sel_form" method="POST" action="/books_update">
                <select name="week" id="sel_week" class="offset-sm-3 bg-secondary text-white" style="width:50px">
                  {{#each weeks}}
                      <option value={{this}}>{{this}}</option>
                  {{/each}}
                </select>
              </form>
          </div>

          <!--Logged in user-->
          <div class="user_div offset-sm-3 col-sm-3 text-center">
              <span class="text-dark">[</span><label class="text-primary">{{user}}</label><span class="text-dark">]</span>
          </div>
        </div>
        <div class="row">
          {{#if manager}}
            <div class="bg-dark text-white week_cont" style="margin-bottom: 80px; border-bottom-right-radius: 5px;">
              <!--<label class="offset-sm-1 week_label">BSR</label><br>-->
              <select id="sel_bsr" name="bsr_name" class="offset-sm-1 text-white text-center bg-secondary mt-2" style="width:120px">
                {{#each my_bsrs}}
                    <option value={{this}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
          {{/if}}
        </div>

        <!---Drop Down Options--->
        <nav class="navbar navbar-dark bg-dark text-white" id="option">
          <button class="navbar-toggler offset-sm-2" type="button" data-toggle="collapse" data-target="#menu" 
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
              {{#if manager}}
                <div class="row mt-3 options">
                  <a class="row offset-sm-3" href="#add_user">Add User</a>
                </div>
                <div id="targets" class="row options">
                  <label class="row offset-sm-3">Targets</label>
                </div>
              {{/if}}
              <div id="logout" class="row options">
                <label class="row offset-sm-3">Logout</label>
              </div>
          </div>
        </nav>
      {{/if}}

      {{{body}}}
      
    </div>
  </body>
</html>
