<!---Edit Targets (row)--->
<div id="edit_targets" class="overlay text-white">
    <div class="assign_popup bg-dark" style="height: 460px">
        <a class="close" href="#"><!--&times;-->X</a>
        <div><h5 id="edit_label" class="text-white">Edit Targets - Weekly</h5></div>
        <div class="offset-sm-1 edit_content">
            <form id="edit_form" method="POST" action="/update_targets">
                <input id="rtype" type="hidden" name="rtype" value="0">
                <input id="bsr" type="hidden" name="bsr"/>
                <input class="w_or_y" type="hidden" name="week_or_eoy" value="1">

                <div class="row offset-sm-4">
                    <label>Loans</label>
                </div>
                <div class="row">
                    <input id="loans" type="number" name="loans" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Deposits</label>
                </div>
                <div class="row">
                    <input id="deposits" type="number" name="deposits" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Debit Cards</label>
                </div>
                <div class="row">
                    <input id="cards" type="number" name="debit_cards" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Membership</label>
                </div>
                <div class="row">
                    <input id="membership" type="number" name="membership" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>iTransact</label>
                </div>
                <div class="row">
                    <input id="iTransact" type="number" name="itransact" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>FIP</label>
                </div>
                <div class="row">
                    <input id="fip" type="number" name="fip" class="input_div" step="0.01" min="0" required/>
                </div>
                <input type="submit" value="Update" class="offset-sm-4 edit_button"/>
            </form>
        </div>
    </div>
</div>
<!--ASSIGN TO BSR -->
<div id="assign" class="overlay text-white">
    <div>
        {{#if messages.assign_fail}}
            <label class="text-white bg-danger text-center w-100 p-3">{{messages.assign_fail}}</label>
        {{else if messages.assign_success}}
            <label class="text-white bg-success text-center w-100 p-3">{{messages.assign_success}}</label>
        {{/if}}
    </div>
    <div class="assign_popup bg-dark">
        <a class="close" href="#"><!--&times;-->X</a>
        <div><h5 id="assign_label" class="text-white">Assign Targets - Weekly</h5></div>
        <div class="offset-sm-1 edit_content">
            <form id="assign_form" method="POST" action="/assign">
                <input id="week_or_eoy" class="w_or_y" type="hidden" name="week_or_eoy" value="1"/>
                <div class="row offset-sm-4 mt-3">
                    <label>BSR</label>
                </div>
                <div class="row">
                    <select name="bsr" class="input_div" required>
                        {{#each bsr}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="row offset-sm-4">
                    <label>Loans</label>
                </div>
                <div class="row">
                    <input id="loans" type="number" name="loans" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Deposits</label>
                </div>
                <div class="row">
                    <input id="deposits" type="number" name="deposits" class="input_div" step="0.01" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Debit Cards</label>
                </div>
                <div class="row">
                    <input id="cards" type="number" name="debit_cards" class="input_div" step="1" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>Membership</label>
                </div>
                <div class="row">
                    <input id="membership" type="number" name="membership" class="input_div" step="1" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>iTransact</label>
                </div>
                <div class="row">
                    <input id="iTransact" type="number" name="itransact" class="input_div" step="1" min="0" required/>
                </div>
                <div class="row offset-sm-4">
                    <label>FIP</label>
                </div>
                <div class="row">
                    <input id="fip" type="number" name="fip" class="input_div" step="1" min="0" required/>
                </div>
                <input type="submit" value="Update" class="offset-sm-4 edit_button"/>
            </form>
        </div>
    </div>
</div>

<!---ADD USER--->
<div id="add_user" class="overlay text-white">
    <div id="add_result">
        {{#if messages.add_fail}}
            <label class="text-white bg-danger text-center w-100 p-3">{{messages.add_fail}}</label>
        {{else if messages.add_success}}
            <label class="text-white bg-success text-center w-100 p-3">{{messages.add_success}}</label>
        {{/if}}
    </div>
    <div class="user_popup bg-dark">
        <a class="close" href="#">X</a>
        <form id="add_user_form" action="/register" method="POST">
        <br>
            <input id="from" type="hidden" name="from" value="/manager"/>
            <div class="row mt-5">
                <input class="login_input offset-sm-1 col-sm-10 text-white" type="text" name="username" placeholder="username" maxlength="30" required/>
            </div>
            <div class="row mt-3">
                <select class="offset-sm-1 col-sm-10 pos_select text-white" name="position" required>
                    <option>bsr</option>
                    <option>manager</option>
                </select>
            </div>
            <div class="row mt-3">
                <input class="login_input offset-sm-1 col-sm-10 text-white" type="number" name="branch" placeholder="branch" min="1" equired/>
            </div>
            <div class="row mt-3">
                <input class="login_input offset-sm-1 col-sm-10 text-white" type="password" name="password" placeholder="password" required/>
            </div>
            <div class="row mt-3">
                <input class="login_input offset-sm-1 col-sm-10 text-white" type="password" name="confirm_password" placeholder="confirm password" required/>
            </div>
            <input class="login_button col-sm-11 mt-4" type="submit" value="Add User" style="margin-left:15px"/>
        </form>
        <!--<button id="add_user_btn" class="login_button col-sm-11 mt-4" style="margin-left:15px">Add User</button>-->
    </div>
</div>
<table id="manager_table" class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th>Branch</th>
            <th>Name</th>
            <th>Position</th>
            <th>Loans ($J MM)</th>
            <th>Deposits ($J MM)</th>
            <th>Debit Cards</th>
            <th>Membership</th>
            <th>iTransact</th>
            <th>FIP</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <select id="_sel" class="offset-sm-5 bg-dark text-white text-center col-sm-2 type_sel">
            <option value="1">Weekly</option>
            <option value="2">Year</option>
        </select>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>